h1 {
    font-family: "Bodoni MT Black", serif;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
}
#wrapper1
{
    height:40px;
    margin:0 auto;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
}
#wrapper1 ul{
    list-style-type: none;
    margin:5px;
    padding-left:750px;
    padding-right:3%;
    justify-content: space-between;
    display: flex;
    flex-direction:row;

}
#wrapper1 nav ul li a,
#wrapper1 nav ul li a:after,
#wrapper1 nav ul li a:before {
    transition: all .5s;
}
#wrapper1 nav ul li a:hover {
    color: #E6E6DC;
}
#wrapper1 .con:hover {
    box-shadow: 0 0 20px rgba(33,33,33,.2);
}
#wrapper1 .bar{
    color:white;
    text-decoration: none;
    font-weight:bold;
    display:block;
    padding-left:10px;
    padding-top:10px;
}
body {
    color: #000000;
    font-family: Verdana, Arial, SansSerif, serif;
    background: url("mainbackground.jpg") repeat;
}
.notice {
    color: lightcoral;
    font-family: "Bodoni MT Black", serif;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
}


#camera\ information{
    margin-left: 180px;
    color: #000000;
    padding: 20px 30px 20px 30px;
    text-align: -moz-left;
    font-family: "Lucida Handwriting", serif;
}
div {
    display: inline-block;
}
footer{
    color:#000000;
    text-align: center;
    font-size: .80em;
    font-style:italic;
    margin-left: 180px;
    padding-bottom: 25px;
}
footer a {
    color: black;
}
@media only screen and (max-width: 767px){
    body {
        width: 100%;
        margin: 0;
        border: none;
    }
    #wrapper1
    {
        height:40px;
        margin:0 auto;
    }
    #wrapper1 ul {
        margin: 5px;
        padding-left: 750px;
        padding-right: 3%;
    }
    #wrapper1 .bar{
        padding-left:10px;
        padding-top:10px;
    }

    h1 {

        font-size: xx-large;
        font-weight: bolder;
        text-align: center;
    }
    #camera\ information{
        margin-left: 180px;
        padding: 20px 30px 20px 30px;
        text-align: -moz-left;
    }
    div {
        display: inline-block;
    }
    footer{
        text-align: center;
        font-size: .80em;
        font-style:italic;
        margin-left: 180px;
        padding-bottom: 25px;
    }
}